#usernameStyle{
    font-size: 13px;
    font-weight: 500;
    outline: none;
    margin-left: 1%;
}

#peerStyle{
    width: 14%;
    height: 39px;
    border: 1px solid #DEE2E6;
    margin-left: 1%;
    font-size: 13px;
    font-weight: 500;
    outline: none;
    border-radius: 5px;
    background-color: transparent;
}

#rowStyle{
    width: 14%;
    height: 39px;
    border: 1px solid #DEE2E6;
    margin-left: 1%;
    font-size: 13px;
    font-weight: 500;
    outline: none;
    border-radius: 5px;
    background-color: transparent;
}