form {
    width: 40%;
    margin: 0 auto;
    background-color: white;
    border: black solid 2px;
    border-radius: 30px;
    padding: 20px;
  }
  
  .imgcontainer
  {
    display: block;
    margin-left: auto;
    margin-right: 90px;
    width: 50%;
    margin-bottom: 1%;
  
  }
  body{
background-color: honeydew;
  }
  
  
  label {
    font-family: "Courier New", Courier, monospace;
    font-weight: 1000;
  }
  
  button {
    margin-left: 45%;
  }
  