.templateLibrary1 {
    top: 166px;
    margin-left: 5px;
    padding: 30px;
    width: 100%;
    height: 97px;
    background: transparent url('../../images/SmartContractImages/Rectangle\ 17485@2x.png') 0% 0% no-repeat padding-box;
    border: 0.5px solid #137EA9;
    opacity: 1;
}